.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    height: 70%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .checkMark {
      font-size: 70px;
      transition: color 0.3s, content 0s 3s;
    }

    .spinner {
      width: 70px;
      height: 70px;
      border: 5px solid rgba(0, 0, 0, 0.1);
      border-top: 5px solid #3498db;
      border-radius: 50%;
      animation: spin 2s linear infinite;
    }

    .success {
      color: green;
    }

    .middle {
      margin: 20px 0;
      font-size: 24px;
      font-weight: bold;
    }

    p {
      text-align: center;
      margin: 10px 0;
      color: #b4b4b4;
    }

    .home {
      margin-top: 20px;
      font-size: 12px;
      font-weight: bold;
      color: rgb(98, 98, 98);
      cursor: pointer;
      border: 0.5px solid rgb(174, 174, 174);
      padding: 5px;
      text-decoration: none;
      &:active{
        color: black;
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
